.wrapper {
  background-color: white;
  box-shadow: 1px 1px 6px #bfbfbf;
  padding: 22px;
  margin: 16px 0;
  min-width: 300px;
  max-width: 100%;
  border-radius: 8px;
  position: relative;
}

.itemRow {
  display: flex;
  align-items: center;
  > p {
    margin: 0;
    &:first-child {
      font-size: 0.8rem;
      color: gray;
      font-weight: bold;
    }
    &:last-child {
      margin-left: 8px;
      font-size: 0.8rem;
      color: #282c34;
    }
  }
}

.badge {
  box-shadow: 1px 1px 6px #8bc34a;
  position: absolute;
  right: -7.5px;
  top: -7.5px;
  width: 15px;
  height: 15px;
  background-color: #4caf50;
  border-radius: 50%;
}

.title {
  margin: 0;
  text-align: left;
  font-size: 0.9rem;
  font-weight: bold;
  color: #4caf50;
}
